In [1]:
import pandas as pd

In [2]:
!pip install timedelta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: timedelta in /usr/local/lib/python3.7/dist-packages (2020.12.3)

In [12]:
import datetime

In [15]:
import timedelta

In [4]:
df = pd.DataFrame()

In [5]:
df['customer_id'] = [1, 1, 1, 2, 1, 2, 3, 2, 3, 3]

In [6]:
df['product_id'] = [1, 4, 9, 5, 2, 6, 8, 8, 5, 3]

In [7]:
# now = datetime.datetime.now()
# print(now)

In [8]:
df['timestamp'] = ['2022-11-13 12:40:09.291758', '2022-11-13 12:43:09.291758', '2022-11-13 12:44:09.291758', '2022-11-13 12:52:09.291758', '2022-11-13 12:53:09.291758', '2022-11-13 12:54:09.291758', '2022-11-13 12:54:09.291758', '2022-11-13 12:55:09.291758', '2022-11-13 13:30:09.291758', '2022-11-13 13:31:09.291758']

In [9]:
df

   customer_id  product_id                   timestamp
0            1           1  2022-11-13 12:40:09.291758
1            1           4  2022-11-13 12:43:09.291758
2            1           9  2022-11-13 12:44:09.291758
3            2           5  2022-11-13 12:52:09.291758
4            1           2  2022-11-13 12:53:09.291758
5            2           6  2022-11-13 12:54:09.291758
6            3           8  2022-11-13 12:54:09.291758
7            2           8  2022-11-13 12:55:09.291758
8            3           5  2022-11-13 13:30:09.291758
9            3           3  2022-11-13 13:31:09.291758

In [139]:
# sessions = []

In [140]:
# number_of_customer_ids = list(set(df['customer_id']))

In [141]:
# number_of_customer_ids

[1, 2, 3]

In [142]:
# values = [0]*len(number_of_customer_ids)

In [143]:
# d =dict(zip(number_of_customer_ids, values))

In [144]:
# z = dict(zip(number_of_customer_ids, values))

In [145]:

# for i in range(0, len(df)):
#   key = df['customer_id'][i]
#   if d[key] == 0 and z[key] == 0:
#     sessions.append(1)
#     d[key] = 1
#     z[key] = df['timestamp'][i]
#   else:
#     time_range = datetime.datetime.strptime(df['timestamp'][i], '%Y-%m-%d %H:%M:%S.%f') - datetime.datetime.strptime(z[key], '%Y-%m-%d %H:%M:%S.%f')
#     td = timedelta.Timedelta(time_range)
#     r = td.total.minutes
#     if r > 3:
#       sessions.append(d[key] + 1)
#       d[key] = d[key] + 1
#       z[key] = df['timestamp'][i]

#     else:
#       sessions.append(d[key])
#       z[key] = df['timestamp'][i]

In [146]:
# sessions

[1, 1, 1, 1, 2, 1, 1, 1, 2, 2]

In [147]:
# df['session_id'] = sessions

In [148]:
# df

   customer_id  product_id                   timestamp  session_id
0            1           1  2022-11-13 12:40:09.291758           1
1            1           4  2022-11-13 12:43:09.291758           1
2            1           9  2022-11-13 12:44:09.291758           1
3            2           5  2022-11-13 12:52:09.291758           1
4            1           2  2022-11-13 12:53:09.291758           2
5            2           6  2022-11-13 12:54:09.291758           1
6            3           8  2022-11-13 12:54:09.291758           1
7            2           8  2022-11-13 12:55:09.291758           1
8            3           5  2022-11-13 13:30:09.291758           2
9            3           3  2022-11-13 13:31:09.291758           2

Логика:

Если пользователь новый (первый раз в таблице встречается) то ставим сессию #1 и сохраняем время его просмотра. Если далее встретится пользователь с этим же id то 1) мы смотрим разницу времени (записанного и текущего просмотров), 2) если это время больше 3 минут - мы присваим следущую сессию пользователю и перезаписываем время просмотра, если время меньше трех минут - мы записываем ту же самую сессию и перезаписываем время просмотра.

Готовая функция:

In [13]:
def define_session_ids(df):
  number_of_customer_ids = list(set(df['customer_id']))
  values = [0]*len(number_of_customer_ids)

  d =dict(zip(number_of_customer_ids, values))
  z = dict(zip(number_of_customer_ids, values))

  sessions = []

  for i in range(0, len(df)):
    key = df['customer_id'][i]

    if d[key] == 0 and z[key] == 0:
      sessions.append(1)
      d[key] = 1
      z[key] = df['timestamp'][i]

    else:
      time_range = datetime.datetime.strptime(df['timestamp'][i], '%Y-%m-%d %H:%M:%S.%f') - datetime.datetime.strptime(z[key], '%Y-%m-%d %H:%M:%S.%f')
      td = timedelta.Timedelta(time_range)
      r = td.total.minutes

      if r > 3:
        sessions.append(d[key] + 1)
        d[key] = d[key] + 1
        z[key] = df['timestamp'][i]

      else:
        sessions.append(d[key])
        z[key] = df['timestamp'][i]

  df['session_id'] = sessions
  return df

In [16]:
a = define_session_ids(df)

In [17]:
a

   customer_id  product_id                   timestamp  session_id
0            1           1  2022-11-13 12:40:09.291758           1
1            1           4  2022-11-13 12:43:09.291758           1
2            1           9  2022-11-13 12:44:09.291758           1
3            2           5  2022-11-13 12:52:09.291758           1
4            1           2  2022-11-13 12:53:09.291758           2
5            2           6  2022-11-13 12:54:09.291758           1
6            3           8  2022-11-13 12:54:09.291758           1
7            2           8  2022-11-13 12:55:09.291758           1
8            3           5  2022-11-13 13:30:09.291758           2
9            3           3  2022-11-13 13:31:09.291758           2